<div>

<form action="/properties/add" method="post" class="add_property_button">

<input type="text" name="name" />
<input type="text" name="description" />
<input type="number" name="price" />
<input type="submit" value="Submit" />
<input type="date" name="availability_start" />
<input type="date" name="availability_end" />

</form>

</div> 