<h3> Properties </h3>

<ul>

  <% @properties.each do |row| %>
    <li><%= "Name: " + row.name %>
      <%= "Description: " + row.description %>
      <%= "Price: " + row.price %>
    </li>
    <input type="submit" value="Make Request" />
  <% end %>
</ul>

