<% if @user %>
  <h1>Welcome, <%= @user.email %></h1>
  <form action="/sessions/destroy" method="post">
    # <input type="submit" value="Sign out" class="sign_out_button" />
  </form>
  <% else %>
  <h1>FORBIDDEN! YOU ARE A GINORMOUS TEAPOT :P</h1>
<% end %>
<ul>
  