<form action="/sessions" method="post">
  <input type="email" name="email" />
  <input type="password" name="password" />
  <input type="submit" value="Sign in" class="sign_in_button" />
</form>
<h2 style="color:red">
  <%= flash[:notice] %>
</h2>